# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.env
.idea

*.lock
*.log

infinite
infinite.go

taskmasterd
taskmastersh
!cmd/taskmasterd
!cmd/taskmastersh

AUTO

.DS_Store

.vscode